---
layout: page
title: RaffApp by Team1
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">ORGANIZE YOUR LIFE <br> EASIER &#38; FASTER</h1>
          <p class="animated fadeInUp">Raff App is comming out on 27th of December for Windows 10 devices</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About RafApp</h2>
            <p>If you have a hard time finding the ideal application to keep track of your
            collections, you are at the right place.</p>
          </div>
          <p>Most of the applications available in the wide variety of operating systems are
          limiting users in their usage of the application. Users are forced to pick one of the
           predetermined types of items and their predetermined attributes. Unlike other
            applications, RafApp should allow users to create their own types of items and keep
              track of them. Additionally, users should be able to name attributes for each type
              of the item created and define attributes types as well.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN DIGITALIZATION</h2>
      <p>Check out our app. Check out our app. Check out our app. Check out our app. Check out our app. Check out our app. Check out our app. Check out our app. Check out our app. Check out our app. Check out our app. Check out our app.</p>
      <p>Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. Completly free. </p>
      <p>Download our app. Download our app. Download our app. Download our app. Download our app. Download our app. Download our app. Download our app. Download our app. Download our app. Download our app. Download our app. </p>
      <a href="https://github.com/TakimBir/Download_RafApp/releases/download/v0.0.0.1-alpha/Install_RafApp.exe" class="btn btn-view-works">Download RafApp!</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Fun Facts About App</h2>
        <p>As Albert Einstein once said "Everything is realative". Therefore, our opinon and facts bellow about our app are definitely relative.
        However, we still claim that you will...</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Coffee Time</h4>
          <p>...have more time for your coffee</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Orientation</h4>
          <p>...enjoy in a well organized environment and move around easier</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Art</h4>
          <p>...spend more time enjoying in your art</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Bugs</h4>
          <p>...experience no crashes or bugs while using our app</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Music</h4>
          <p>...listen to more music</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Ecology</h4>
          <p>...recycle more items</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Space</h4>
          <p>...probably colonize Saturn</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Geography</h4>
          <p>...find out more about other countries</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Still not convinced ?</h2>
          <p>Check our official project documentation yourself if you do not belive our claims.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/blog" >Read Documentation</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Team 1</h2>
        <p>Members: Berkan Güntan, Džefris Dizdarević, Göksu İşmal, Güliz Akkaya, Hasan Hüseyin Yerli, Hilmi Ege İndere. <br> 
          The project has been conducted at Izmir University of Economics, during SE 302 course.
          The team was supervised by professor Kaya Oğuz.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
