<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/blog">Documentation</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Designed and Developed by Themefisher, Adjusted by <b>Team 1</b>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
